# Core dependencies
mcp
numpy>=1.20.0
pandas>=1.3.0

# For merchant categorization model
scikit-learn>=1.0.0
torch>=1.10.0
transformers[torch]>=4.15.0
polars
seaborn
pdfplumber

# For RAG pipeline
sentence-transformers>=2.2.0
chromadb>=0.4.22
langchain-openai
langchain
langchain-community
langchain-mcp-adapters
langchain-chroma
langgraph

# Frontend
streamlit>=1.10.0

# PDF Processing
pdfplumber>=0.7.0
pdf2image>=1.16.0
pytesseract>=0.3.9

# Utilities
python-dotenv>=0.19.0
pydantic>=1.9.0
tqdm>=4.62.0
requests>=2.27.0
joblib>=1.1.0
fastexcel

# Testing
pytest>=6.2.5
pytest-cov>=2.12.0

# Docker support
python-multipart>=0.0.5

# Statement Parsing
ocrmypdf>=16.5.0
monopoly-core>=0.14.2
PyMuPDF>=1.24.10
PyMuPDFb>=1.24.10
altair
altgraph
annotated-types
astroid
attrs
black
blinker
cachetools
certifi
charset-normalizer
click
dateparser
dill
flake8
git-cliff
gitdb
GitPython
idna
iniconfig
isort
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mccabe
monopoly-core
mypy-extensions
narwhals
packaging
pathspec
pdftotext
pillow
platformdirs
plotly
pluggy
protobuf
pyarrow
pycodestyle
pydantic
pydantic-settings
pydantic_core
pydeck
pyflakes
pyinstaller
pyinstaller-hooks-contrib
pylint
pytest
python-dateutil
python-dotenv
pytz
referencing
regex
requests
rpds-py
setuptools
six
smmap
-e git+https://github.com/benjamin-awd/StatementSensei.git@cabcf96ee7056c4b1e9fb3fcdf7ac8a23a3d9f3a#egg=statement_sensei
StrEnum
tabulate
tenacity
toml
tomlkit
tornado
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
watchdog
